@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:
}
header{
    background-color: #5EAB70;
    height: 135px;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

footer{
    background-color: #505E53;
    color: white;
}