@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
body html{
    width: 100vw;
    height: 100vh;
}
header{
    height: 140px;
    padding-top: 18px;

    background-color: #5EAB70;
}
header h1{
    margin: auto;
    margin-bottom: 10px;

    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: white;
}
#burgue{
    padding: 4px 0px;
    margin-bottom: 10px;

    color: white;

    display: block;
}
#burgue:hover{
    background-color: rgb(85, 104, 88);
    transition: background-color 0.4s;
}
header nav{
    text-align: center;
    margin-bottom: 10px;
}
header nav a{
    margin: auto;
    padding: 9px;

    color: #325C3C;
    text-decoration: none;
    font-weight: 400;
}
header nav a:hover{
    color: white;
    transition: color 0.4s;
}
#barrinha-embaixo{
    width: 100%;
    height: 10px;

    background-color: #325C3C;
}
#parte1{
    margin: auto;
    margin-top: 30px;
    max-width: 900px;  
    margin-bottom: 30px;  
}
#parte1 h1{
    margin-bottom: 10px;
    font-size: 1.7em;

    color: #505E53;
    text-align: center;
}
#parte1 p{
    width: 90%;
    margin: auto;

    text-align: justify;
    line-height: 1.5em;
}
#imagem-dona{
    width: 700px;
    height: 466px;
    margin: auto;

    background-image: url(../imagens/pexels-emmy-e-2381069.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.444);
}
/*tentar tirar section pra cada item ser div*/
#svalores{
    width: 400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
#titulo-valores{
    text-align: center;
    font-size: 1.7em;

    color: #505E53;
}
.valores > h2{
    font-size: 1.2em;
    display: inline-block;
}
#resp{
    width: 600px;
    height: 266px;
    margin: auto;
    display: block;
    background-color: #5EAB70;
    transform: translate(-18%);
}
#resp img{
    width: 400px;
    height: 266px;

    float: right;
}
#resp h2{
    color: white;

    transform: translate(75%, 500%);
}
#equi{
    width: 600px;
    height: 266px;
    margin: auto;
    display: block;
    background-color: #5EAB70;
    transform: translate(-18%);
}
#equi img{
    width: 400px;
    height: 266px;

    float: right;
}
footer{
    background-color: #505E53;
    color: white;
}